@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
/* CSS cabeçalho*/
#hom{
    color: #5AB0A6;
font-family: 'Montserrat';
}
#qmsomos{
color: #5AB0A6;
font-family: 'Montserrat';
}
#transf{
    font-family: 'Montserrat';
    color: #5AB0A6;
}
#cat{
    font-family: 'Montserrat';
    color: #5AB0A6;
}
#cont{
    font-family: 'Montserrat';
    color: #5AB0A6;
}
#loginbutton {
    background-color: #FAA143;
}
/* CSS formulario*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Montserrat', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#65B8AE ;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #FAA143;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 16px;
}
section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: nome;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea{
    border-radius: 16px;   
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/*Pagina do obrigado*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    background: #65B8AE;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: #FAA143;
    margin-bottom: 30px;
}
.paragrafo{
    color: #101026;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}
/* CSS referente ao footer, rodapé*/
footer{
    background-color: #FAA143;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #65B8AE;
    background-color: white;
}
p{
    font-size: 16px;
    text-transform: none;
    color: white;
    text-decoration: none;
    font-weight: 400;

}

input.error,
textarea.error {
  border-color: red;
}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
.logoReduzida {
    height: 60px;
    width: auto;
  }